		#tablero{
			width: 1000px;
			height: 1000px;
			position: relative;
			border:7px solid rgb(45, 8, 114);
			background-color: #000000;
			margin: auto
			
		}

		#pacman{
			width: 80px;
			height: 80px;
			position: absolute;
			top: 0;
			left: 0;
			transition: 0.1s all;
			z-index: 2;
		}
		#pacman img{
			width: 100%
			
		}

		#fantasma{
			width: 100px;
			height: 100px;
			position: absolute;
			top: 0;
			left: 0;
		}
		#fantasma img{
			width: 100%;
			z-index: 2;
		}
		
		#muerte {
			display: none;
			
		}

		#muerte img{
			
			width: 1000px;
			height: 1000px;
			z-index: 1;

		}

		.puntito{
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
			
			
			
		}
		.puntito img{
			width: 100%;
			z-index: 0;
		}

		table{
			
			width: 100px;
			height: 100px;
			position: absolute;
			top: 50%;
			left: 1;

		}

		table, th, td {
			border: 1px solid white;
			border-collapse: collapse;
		  }
		  th, td {
			background-color: #000000;
  			border-radius: 10px;
			  padding-top: 10px;
			  padding-bottom: 10px;
			  padding-left: 10px;
			  padding-right: 10px;
			  color: rgb(255, 255, 255);
		  }

		  #win img{
			height: 1000px; 
			width: 1000px;
		  }

		  .bloquecito{
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			
		  }
		  .bloquecito img{
			width: 100%;
			z-index: 1;
		  }